# Environments
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Git
.git
.github

# Pycache
__pycache__/
*.pyc
*.pyo
*.pyd

# Local Credentials
.env

# Data and SQLite
*.db
# Data and SQLite
*.db
logs/*
logs/*

# Local Agent / Development files
.agents/
output_log.txt
.python-version
