langchain
langchain-community
langchain-openai

sentence-transformers
transformers
torch

faiss-cpum

rank-bm25

ragas

streamlit

pandas
numpy

pypdf

tqdm

python-dotenv

scikit-learn

plotly

openai

datasets

evaluate